body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #008000;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  text-align: center;
}